.paddle {
  width: 100px;
  height: 25px;
  background-color: rebeccapurple;
  border-radius: 4px;
}

.container {
  width: 300px;
  height: 400px;
  background-color: #66339922;
  border: 2px solid rebeccapurple;
  border-radius: 4px;
  margin: 20px auto;
}
